################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ember-app/yarn.lock
/ember-app/package-lock.json
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/GitTest/v16/.suo
